/**
 * Copyright(c) 2018-$!year www.kxtx.com
 * $!{package}.$!{className}.java
 */
package $!package;

import java.io.Serializable;
 #foreach($import in $imports)
import $import;
#end

/**
 * 
 * @author $!author
 * @date $!dateTime
 *
 *
 */
public class $!className implements Serializable {

#foreach($field in $fields)


    /**
     * $!field.comment
     */
    #if($field.jdbcType=="DATETIME"||$field.jdbcType=="DATE")
        private String $!field.propertyName;
        #else
	    private $!field.javaType $!field.propertyName;
        #end
	
#end
	
	
#foreach($field in $fields)
    #if($field.jdbcType=="DATETIME"||$field.jdbcType=="DATE")
    public String $field.getGetterName()() {
    return $field.propertyName;
    }

    public void $field.getSetterName()(String $!field.propertyName) {
    this.$!field.propertyName = $!field.propertyName;
    }
        #else
	public $!field.javaType $field.getGetterName()() {
		return $field.propertyName;
	}
	
	public void $field.getSetterName()($!field.javaType $!field.propertyName) {
		this.$!field.propertyName = $!field.propertyName;
	}
        #end
	
#end

}